@font-face {
    font-family: 'Ubuntu';
    src: url(http://static.html5-performance.de/master/3/fonts/vendors/Ubuntu-Regular.ttf);
}

@font-face {
	font-family: 'side';
	src:url('http://static.html5-performance.de/master/3/fonts/vendors/side.eot');
	src:url('http://static.html5-performance.de/master/3/fonts/vendors/side.eot?#iefix') format('embedded-opentype'),
		url('http://static.html5-performance.de/master/3/fonts/vendors/side.ttf') format('truetype'),
		url('http://static.html5-performance.de/master/3/fonts/vendors/side.woff') format('woff'),
		url('http://static.html5-performance.de/master/3/fonts/vendors/side.svg#side') format('svg');
	font-weight: normal;
	font-style: normal;
}