body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

header .navbar {
	margin-top: 50px;
}

footer {
    margin: 20px auto 0;
	padding: 10px 0 10px;
	color: #fff;
	background: url(http://img.html5-performance.de/footer_background.gif) repeat-x #333;
}

