body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

header .navbar {
	margin-top: 50px;
}

footer {
    margin: 20px auto 0;
	padding: 10px 0 10px;
	color: #fff;
	background: #333;
	background-image: -webkit-linear-gradient(top, #99989a 0%, #161616 100%); 
	background-image:    -moz-linear-gradient(top, #99989a 0%, #161616 100%); 
	background-image: 	   -o-linear-gradient(top, #99989a 0%, #161616 100%); 
	background-image: 		  linear-gradient(top, #99989a 0%, #161616 100%);
}

