article img {
    width: 25%;
    float: right;
}

.modal-dialog {
    width: 80%;
}

.list-group {
	list-style-type: none;
	padding-left: 0;
}

.list-group li {
	border-bottom: 1px solid #ddd;
}

.list-group li:last-child {
	border: none;
}