#products {
    margin: 10px 0;
	padding: 0;
}

#products li {
	list-style-type: none;
}

#products li div.product {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
	background: url('../img/side_sprite.png') no-repeat #fff;
}

#products li div.product.mail {
	background-position: 0 0;
}

#products li:hover div.product.mail {
	background-position: 0 -50px;
}

#products li div.product.cam {
	background-position: -200px 0;
}

#products li:hover div.product.cam {
	background-position: -200px -50px;
}

#products li div.product.lock {
	background-position: -100px 0;
}

#products li:hover div.product.lock {
	background-position: -100px -50px;
}

#products li div.product.computer {
	background-position: -50px 0;
}

#products li:hover div.product.computer {
	background-position: -50px -50px;
}

#products li div.product.cloud {
	background-position: -150px 0;
}

#products li:hover div.product.cloud {
	background-position: -150px -50px;
}