#products {
    margin: 10px 0;
	padding: 0;
}

#products li {
	list-style-type: none;
}

#products li div.product {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
	font-family: 'side';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 50px;
	color: #a2a2a2;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e600";
}
.icon-lock:before {
	content: "\e601";
}
.icon-cloud:before {
	content: "\e602";
}
.icon-screen:before {
	content: "\e603";
}
.icon-envelop:before {
	content: "\e604";
}

#products li div.product.mail:before {
	content: "\e604";
}

#products li div.product.cam:before {
	content: "\e600";
}

#products li div.product.lock:before {
	content: "\e601";
}

#products li div.product.computer:before {
	content: "\e603";
}

#products li div.product.cloud:before {
	content: "\e602";
}

#products li:hover div.product {
	color: #303030;
}